.collection{
    background-image: url(../../images/collection.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 126px;
    padding-bottom: 118px;
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__img{
        margin-bottom: 71px;
    }
    &__title{
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;

    }
    &__desc{
        margin: 0;
        padding: 0;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
        max-width: 255px;

    }
    @media only screen and (max-width: 768px) {
        .collection{
            padding: 59px;
            &__list{
                display: block;
                flex-direction: column;
            }
            &__item{
                display: flex;

            }
            &__img{
                margin: 0 auto;
                display: inline-block;
                margin-bottom: 48px;
            }
            &__box{
                margin: 0;
                padding: 0;
            }

            &__title{
                text-align: left;
            }
            &__desc{
                max-width: 282px;
                text-align: left;
                margin: 0 auto;
            }
        }
    }
    @media only screen and ( max-width: 450px) {
        .collection{
            padding-top: 53px;
            &__item{
                flex-direction: column;
                text-align: center;
            }
            &__img{
                margin-bottom: 24px;
            }
            &__title{
                text-align: center;
                margin-bottom: 16px;
            }
            &__desc{
                text-align: center;
            }
        }
    }
}
// ABOUT PAGE
.about-commitment{
    padding: 168px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__heading{
        margin: 0;
        padding: 0;
        margin-bottom: 26px;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #333D4B;

    }
    &__desc{
        margin: 0;
        padding: 0;
        color: #333D4B;
        mix-blend-mode: normal;
        opacity: 0.8;
        max-width: 540px;
    }
}
@media only screen and ( max-width: 1100px){
    .about-commitment{
        &__desc{
            max-width: 445px;
        }
    }
}
@media only screen and ( max-width: 950px) {
    .about-commitment{
        &__desc{
            max-width: 400px;
        }
    }
}
@media only screen and ( max-width: 900px) {
    .about-commitment{
        &__desc{
            max-width: 350px;
        }
    }
}
@media only screen and ( max-width: 770px) {
    .about-commitment{
        padding: 144px 20px;
        padding-bottom: 300px;
        &__box{
            margin-left: 69px;
        }
        &__heading{
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
        }
        &__desc{
            font-size: 15px;
            line-height: 25px;
            max-width: 339px;
        }
    }
}
@media only screen and ( max-width: 650px) {
    .about-commitment{
        padding: 100px 20px;
        flex-direction: column;
        &__box{
            margin: 0;
            padding: 0;
            margin-top: 100px;
        }
        &__heading{
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #333D4B;

        }
        &__desc{
            font-size: 15px;
            line-height: 25px;
            text-align: center;

        }
    }
}
@media only screen and ( max-width: 450px) {
    .about-commitment{
        padding: 120px 20px;
        flex-direction: column;
        &__box{
            margin: 0;
            padding: 0;
            margin-top: 126px;
        }
        &__heading{
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #333D4B;

        }
        &__desc{
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            max-width: 327px;

        }
    }
}
@media only screen and ( max-width: 770px) {
    .about-commitment{
        padding: 144px 20px;
        padding-bottom: 300px;
        &__box{
            margin-left: 69px;
        }
        &__heading{
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
        }
        &__desc{
            font-size: 15px;
            line-height: 25px;
            max-width: 339px;
        }
    }
}
@media only screen and ( max-width: 650px) {
    .about-commitment{
        padding: 100px 20px;
        flex-direction: column;
        &__box{
            margin: 0;
            padding: 0;
            margin-top: 100px;
        }
        &__heading{
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #333D4B;

        }
        &__desc{
            font-size: 15px;
            line-height: 25px;
            text-align: center;

        }
    }
}
@media only screen and ( max-width: 450px) {
    .about-commitment{
        padding: 120px 20px;
        flex-direction: column;
        margin-bottom: 198px;
        &__box{
            margin: 0;
            padding: 0;
            margin-top: 126px;
        }
        &__heading{
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #333D4B;

        }
        &__desc{
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            max-width: 327px;

        }
    }
}