.services{
    background: #2C343E;
    border-radius: 10px;
    padding: 100px 85px 317px;
    position: relative;
    margin-bottom: 168px;
    &__heading{
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
    }
    &__desc{
        margin: 0 auto;
        padding: 0;
        margin-bottom: 100px;
        max-width: 540px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;

    }
    &__list{
        position: absolute;
        top: 358px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    &__item{
        padding: 72px 48px 48px 48px;
        background: #0E8784;
        border-radius: 8px;
    }
    &__item + &__item {
        margin-left: 40px;
    }
    &__item-img{
        display: flex;
        margin: 0 auto;
        margin-bottom: 56px;
        vertical-align: middle;
    }
    &__title{
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
    }
    &__item-desc{
        margin: 0;
        padding: 0;
        max-width: 255px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;

    }

}
@media only screen and (max-width: 768px) {
    .services{
        padding: 56px 57px 368px 57px;
        &__heading{
            font-size: 32px;
        }
        &__list{
            flex-direction: column;
        }
        &__item{
            padding: 41px 48px 41px 70px;
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        &__item + &__item {
            margin-top: 24px;
            margin-left: 0;
        }
        &__item-img{
            width: 56px;
            height: 56px;
            margin-right: 55px;
            margin-bottom: 0;
        }
        &__title{
            text-align: left;
            margin-bottom: 16px;
        }
        &__item-desc{
            max-width: 344px;
            text-align: left;
        }

    }
}
@media only screen and (max-width: 450px) {
    .services{
        padding: 64px 24px 661px 24px;
        &__heading{
            font-size: 28px;
            line-height: 28px;
        }
        &__list{
            display: block;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 64px;
        }
        &__item{
            margin-left: 0;
            padding: 72px 33px 51px 33px;
            display: block;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 25px;

        }

        &__item-img{
            width: 56px;
            height: 56px;
            margin: 0 auto;
            margin-bottom: 56px;
        }
        &__title{
            text-align: center;
            margin-bottom: 16px;
        }
        &__item-desc{
            max-width: 212px;
            text-align: center;

        }
    }
}
// ABOUT SERVICES
.about-services{
    position: relative;
    background: #2C343E;
    padding: 88px 85px 176px 85px;
    border-radius: 10px;
    display: flex;
    &__heading{
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
    }
    &__desc{
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        max-width: 540px;
    }
    &__img{
        position: absolute;
        right: 85px;
        bottom: 88px;
    }
}
@media only screen and ( max-width: 1120px){
    .about-services{
        position: relative;
        background: #2C343E;
        padding: 242px 100px 67px 100px;
        border-radius: 10px;
        &__box{
            margin: 0 auto;
            padding: 0;

        }

        &__heading{
            margin: 0;
            padding: 0;
            margin-bottom: 32px;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;

        }
        &__desc{
            margin: 0;
            padding: 0;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            max-width: 540px;

        }
        &__img{
            position: absolute;
            width: 573px;
            height: 320px;
            left: 197px;
            bottom: 328px;
        }
    }
}
@media only screen and ( max-width: 770px) {
    .about-services{
        position: relative;
        background: #2C343E;
        padding: 242px 74px 67px 74px;
        border-radius: 10px;
        &__box{
            margin: 0 auto;
            padding: 0;

        }

        &__heading{
            margin: 0;
            padding: 0;
            margin-bottom: 32px;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;

        }
        &__desc{
            margin: 0;
            padding: 0;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            max-width: 540px;

        }
        &__img{
            position: absolute;
            width: 573px;
            height: 320px;
            left: 97px;
            bottom: 328px;
        }
    }
}
@media only screen and ( max-width: 450px) {
    .about-services{
        position: relative;
        background: #2C343E;
        padding: 142px 0px 64px 0px;
        border-radius: 10px;
        &__box{
            max-width: 279px;
        }

        &__heading{
            margin: 0;
            padding: 0;
            margin-bottom: 32px;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 28px;
            text-align: center;
            color: #FEFCF7;
        }
        &__desc{
            margin: 0;
            padding: 0;
            margin: 0 auto;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;


        }
        &__img{
            position: absolute;
            width: 279px;
            height: 156px;
            left: 73px;
            bottom: 431px;
        }
    }
}